<span class="return" [routerLink]="['/score']">
  <img src="../../assets/image/renturn.png">
</span>
<img class="main-title" src="../../assets/fonts/biguojiqiao.png">
<div class="swiper-container" [swiper]='config'>
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="../../assets/fonts/beidanciapp.png" alt="背单词app推荐" class="sub-title">
      <div class="container">
        <div class="box">
          <h3>百词斩</h3>
          <div>
            <h4>学习模式：</h4>
            <p>先给单词选择对应的能够表达单词意思的图片，再配合百词斩自创的趣味单词视频+单词象形进行学习。配图多，抗枯燥效果强。学进不去、没心思背单词时最适用。</p>
          </div>
          <div>
            <h4>缺点：</h4>
            <p>软件不是一个单纯的背单词APP。掺杂了其他分散精力的内容在里面，延长了不必要的学习时间。</p>
          </div>
        </div>
        <div class="box">
          <h3>扇贝</h3>
          <div>
            <h4>学习模式：</h4>
            <p>每7个单词一小结。对于“不认识”的单词，会按照英文例句→英文释义→中文释义的步骤依次出示。这个顺序非常好，有助于强化英英思维。配合独有的扇贝背单词小组，有效激励学习热情。</p>
          </div>
          <div>
            <h4>缺点：</h4>
            <p>看不到要背的单词总量，剩余单词量或者剩余计划时间，天天背单词却不知道什么时候到头，没有成就刺激。</p>
          </div>
        </div>
        <div class="box">
          <h3>沪江开心词场</h3>
          <div>
            <h4>学习模式：</h4>
            <p>类似消消乐的闯关形式，背一关的单词，解锁一关，游戏场景多样，增加了趣味性。一个单词通过4种形式反复出现，不断强化巩固记忆；第一次以单词形式出现，然后是看中文选单词，接着是选词填空，最后以拼写的形式出现。</p>
          </div>
          <div>
            <h4>缺点：</h4>
            <p>背景太花哨，容易分散注意力；没有音标，单词读音全靠听，并且没有单词详解。</p>
          </div>
        </div>
        <div class="box">
          <h3>不背单词</h3>
          <div>
            <h4>学习模式：</h4>
            <p>单词连续四次选择“认识”才算完成记忆，否则重新开始累积；带有拼写测试，相当于可以在手机上默写一遍；20个单词为一组进行学习和回顾。</p>
          </div>
          <div>
            <h4>缺点：</h4>
            <p>新单词重复次数多就导致了学习用时的延长。不适合想快速大量刷单词的学习者。但对于需要深度学习每一个单词的朋友，这是一个好软件</p>
          </div>
        </div>
      </div>
      <div class="placeholder"></div>
    </div>
    <div class="swiper-slide">
      <img src="../../assets/fonts/tixing.png" alt="题型" class="sub-title">
      <div class="container">
        <div class="slider box">
          <h3>听力</h3>
          <h4>考前复习：</h4>
          <h5>1、调整保持听力状态</h5>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;大学英语四级听力的语速是每分钟130-150个单词,六级考试的语速达每分钟160-180个单词。所以，建议考生靠前至少要保持每天30分钟的听力练习量，听力材料尽量选择历年的四六级真题。另外，考前一星期进行适量的“实战”练习可以帮助你熟悉听力考试中的题型、语音、语调以及语速，从而可以避免带上耳机后的那种不知所措的感觉。</p>
          <h5>2、听写训练</h5>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;做一些大学英语四六级听力真题的听写训练。基本方法：先整体听一遍，然后听一句写一句，坚持听写完为止，然后再对照原文，检查自己错在哪里。这样坚持，对提高听力水平以及英语整体水平都很有好处。</p>
          <h5>3、反复演练真题</h5>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;首先要研究大学英语四六级听力的真题，弄清楚往年真题考试都是哪种类型，是新闻还是故事。同时，还要研究考试题的特点，哪一类问题该怎样回答，有什么固定的问答模式。</p>
          <h5>4、跟读练习。</h5>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;A. He went to see his doctor in his spare time yesterday.</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;B. He visited his friends when he was free yesterday.</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;C. He called on an old farmer after work yesterday.</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;从选项中可看到，三个选项的主语、谓语部分基本相同，而宾语有很大的区别。先抓住doctor， friends，farmer三个词，然后根据所听录音做出判断。</p>
          <h4>考试技巧：</h4>
          <h5>1.放听力之前</h5>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;提前看题目，这个很重要，非常非常重要。看了题目，对这个对话就有了基本的认识和了解，继而能很大程度帮助解题。</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;看题目的时间不够怎么办？有一些看题技巧可以参考：有的题目选项中结构类似、句式类似，这种就不用全看，抓住不一样的词勾出来了解大意就可以了；</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;有的题目选项有长有短，建议先把短选项(通常只有一两个词)的放一边，先看长的；有的题目选项参差不齐，可以看三个选项最后一个采取排除法选择(比如听的时候发现已经 看了的三个选项都不对，就可以选那个没看的)。</p>
          <h5>2.选不出来的时候</h5>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;有些题目在听完对话之后还得不出答案，建议千万不要纠结这样的题目。可把听到的关键词用中文、英文或符号标在题目旁边，等听力放完了再借此回忆起来慢慢选。千万不要在听力过程中思考，会严重影响做听力的心情和后面的进度。</p>
        </div>
        <div class="slider box">
          <h3>阅读：</h3>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;1、做题时学会不查生词，并且坚持中途不被其他的事情打扰，严格按照20分钟的时限来完成两篇阅读理解的真题。</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;当考生在做题的过程中遇到了生词和看不太懂的句子时，尽量依靠上下文所给出的线索来猜测其含义，不要依赖词典。通常只要了解了大致的论述方向，便可以较为准确地推测出相关的句意了。</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;对照标准答案，针对自己做错的题目在不查单词的前提下，尽量根据上下文间的逻辑关系看出答题的线索，并总结自己错误原因。</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;要知道，出题人通常只会在文章的重点处或是逻辑结构比较复杂的位置设置相关题目。所以考生要抓住长难句的逻辑结构跟论述方向来理解段落应对题目。一般段落的开头和结尾也是属于比较重要的位置，往往把握住这两个位置就能迅速地了解段落大意。同时文章中出现有解释说明的地方基本都是考点所在。因为只有重要的内容，作者才会需要花时间去解释。</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;3、可以查看文章和题干的生词，对照译文弄清每个题目的主要内容，纠正自己在做题时出现偏差的地方。</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;经过了前两步之后，考生到这个阶段一定要多查多问，直到完全弄明白了文章和题目的全部意思为止。要做到对于每一篇阅读理解的文章都没有生词、没有不懂的句子、所有的题目都会做的程度。</p>
        </div>
        <div class="slider box">
          <h3>作文：</h3>
          <h5>1、背诵</h5>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;背诵是提高英综合能力的法宝,可分为以下5个层次:(1)精彩词汇;(2)精彩句型;(3)精彩句子;(4)万能框架;(5)经典范文。注意句子和句型不一样,精彩句子应作为单词来记忆。背诵前,确保自己已充分理解所有内容。</p>
          <h5>2、默写</h5>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;背完经典范文后,进行默写。然后对照原文纠错,搞清楚错在什么地方。多数同学在写的时候都会犯小错误,如拼写、单复数、大小写等。这些就是你在写作中的弱点,也是阅卷老师最不能容忍的地方。培根说过:"Writing makes an exact man."(写作使人精确。)只有默写下来你才会发现自己常犯哪些错误。</p>
          <h5>3、中译英</h5>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;中译英也是提高写作的好方法。根据范文的中文译文,将其按自己的理解译成英文。译完后,你就会发现自己的翻译和原文有很大差距,这些差距就是取得写作高分的关键。这时,对照范文,看看原作者是怎么写的,思考为什么这么写。同样的一句中文,范文中使用了哪些词汇和句型?你使用了哪些词汇和句型?学习范文使用不同的词汇和句型。通过不断练习,你的写作水平不知不觉就提高了。</p>
          <h5>4、写作</h5>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;模仿范文写作新的文章,套用范文的精彩词汇、句型、句子和框架。最初套用时可能比较生硬,但随着不断的积累,组合起来会越来越顺手。</p>
        </div>
        <div class="slider box">
          <h3>翻译：</h3>
          <h4>考前复习：</h4>
          <h5>1、积累词汇</h5>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;翻译中需要积累哪方面的词汇呢?中国的传统节日、文化和经济社会方面的词汇。保证拼写正确，同时掌握一些同义替换的高分表达，可以为自己的句子加分。</p>
          <h5>2、分析句子成分</h5>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;在做汉译英时，应该首先分析句子的成分，主语，谓语以及宾语成分分别是谁，找出主干部分，这样在翻译时我们可以将主干部分先翻译出来，其他成分作为定从或状从进行翻译，如果修饰成分较多的话，可以运用几个短句的形式。</p>
          <h5>3、词类活用</h5>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;就是在汉译英的过程中，将汉语中动词的表达在英语中用名词表达出来，或者用介词表达出来等等。</p>
          <h5>4、增词和减词</h5>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;由于在汉译英的差异，在这过程为了让表达更加充分、准确。可能会用到增词或者减词，增的词可能是冠词，代词或名词，介词。减的词可能是汉语中赘述的定语或状语成分以保证句子通顺。</p>
          <h5>5、同义词替换</h5>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;可以将翻译中的词汇换为高级词汇进行表达，将翻译中重复的词语删除。</p>
          <h5>6、语序调整</h5>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;为了句子表达更加通顺，可以调整文章的语序，例如汉语中的定语成分在英语中可以做前置定语或者后置定语，还可以作为从句对主语进行修饰，一切要看文章如何表达比较好。</p>
          <h4>考试技巧：</h4>
          <h5>1.长句翻译</h5>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;遇到长句时，别急着下笔。首先划出句子主干和修饰部分。先翻译主干，再翻译修饰部分，最后整合理顺。</p>
          <h5>2.不会写的单词</h5>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;用同义词替换或短语翻译(英英解释)。平时背单词时，多查英英释义，不仅能更好的理解单词，在翻译时也用得上。</p>
        </div>
      </div>
      <div class="placeholder"></div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>